.container {
    background-color: darkred;
    color: white;
    padding: 33px;
    text-align: center;
}

.partitions {
    display: grid;
    grid-template-rows: repeat(auto-fit);
    grid-gap: 10px;
    width: 100%;
  }