.container {
    background-color: grey;
    padding: 33px;
    text-align: center;
}

.messages {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 50px));
    place-items: center;
    gap: 10px;
}