<mat-card class="producer">
  <mat-card-content>
    <mat-form-field>
      <mat-label>Topic</mat-label>
      <mat-select [(ngModel)]="topicName">
        @for (topic of topic.topics(); track $index) {
        <mat-option [value]="topic[0]">{{topic[0]}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Work time in ms</mat-label>
      <input matInput [(ngModel)]="workTimeMs">
  </mat-form-field>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="produce()">produce</button>
  </mat-card-actions>
</mat-card>