<mat-card class="producer">
  <mat-card-content>
    <mat-form-field>
      <mat-label>Topic</mat-label>
      <mat-select [(ngModel)]="topic">
        @for (topicName of ["one.topic", "two.topic"]; track topicName) {
        <mat-option [value]="topicName">{{topicName}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="produce()">produce</button>
  </mat-card-actions>
</mat-card>