.container {
  display: grid;
  grid-template-columns: 150px auto 150px;
  place-items: center;
  gap: 5%;
  margin:30px;
}

.producers {
  width: 100%;
}

.consumers {
  width: 100%;
}

.topics {
  width: 100%;
}