.container {
  display: grid;
  grid-template-columns: 230px auto 230px;
  place-items: center;
  gap: 5%;
  margin: 30px;
}

.producers {
  width: 100%;
}

.consumer-groups {
  width: 100%;
}

.topics {
  display: grid;
  grid-template-rows: repeat(auto-fit);
  grid-gap: 10px;
  width: 100%;
}

.consumer-groups {
  display: grid;
  grid-template-rows: repeat(auto-fit);
  grid-gap: 10px;
  width: 100%;
}