.container {
    color: black;
    width: 75px;
    height: 90px;
    text-align: center;
}

.new {
    background-color: white;
}

.committed {
    background-color: darkgrey;
}

mat-card-content {
    font-size: x-small;
}